[submodule "smartcampus.mobilityservice"]
	path = smartcampus.mobilityservice
	url = https://github.com/smartcommunitylab/smartcampus.mobilityservice.git
	branch = bologna
[submodule "sco.viaggia"]
	path = sco.viaggia
	url = https://github.com/smartcommunitylab/sco.viaggia
	branch = bologna
[submodule "OpenTripPlanner"]
	path = OpenTripPlanner
	url = https://github.com/smartcommunitylab/OpenTripPlanner
	branch = sco-0.15.0
[submodule "smartplanner"]
	path = smartplanner
	url = https://github.com/smartcommunitylab/smartplanner
